version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "github.com/linode/terraform-provider-linode/linode"
  - package-ecosystem: gomod
    directory: "/tools"
    schedule:
      interval: daily
    open-pull-requests-limit: 10