name: Integration tests
on:
  workflow_dispatch: null
  push:
    branches:
      - main
      - dev
jobs:
  integration_tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    env:
      EXIT_STATUS: 0
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: 'stable'
      - run: go version

      - name: Update system packages
        run: sudo apt-get update -y

      - name: Install system deps
        run: sudo apt-get install -y build-essential

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Python deps
        run: pip3 install requests wheel boto3

      - name: Set release version env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Install go-junit-report
        run: go install github.com/jstemmer/go-junit-report/v2@latest

      - name: Run Integration Tests
        run: |
          timestamp=$(date +'%Y%m%d%H%M')
          report_filename="${timestamp}_terraform_test_report.log"        
          
          if ! make testacc > "$report_filename"; then
            echo "EXIT_STATUS=1" >> $GITHUB_ENV
          fi
          cat "$report_filename"
        env:
          LINODE_TOKEN: ${{ secrets.DX_LINODE_TOKEN }}

      - name: Convert test report to XML
        run: |
          filename=$(ls | grep -E '^[0-9]{12}_terraform_test_report\.log')
          if [ -f "$filename" ]; then
            go_junit_report_dir=$(go env GOPATH)/bin
            export PATH="$PATH:$go_junit_report_dir"
            xml_filename=$(echo "$filename" | sed 's/\.log$/.xml/')
            go-junit-report -in "$filename" -iocopy -out "$xml_filename"
            echo "Covert to XML completed successfully."
          else
            echo "Test report file not found."
            exit 1
          fi
        env:
          GO111MODULE: on

      - name: Add additional information to XML report
        run: |
          ls -ltrh
          filename=$(ls | grep -E '^[0-9]{12}_terraform_test_report\.xml$') 
          python scripts/add_to_xml_test_report.py \
          --branch_name "${{ env.RELEASE_VERSION }}" \
          --gha_run_id "$GITHUB_RUN_ID" \
          --gha_run_number "$GITHUB_RUN_NUMBER" \
          --xmlfile "${filename}"

      - name: Upload test results to bucket
        run: |
          report_filename=$(ls | grep -E '^[0-9]{12}_terraform_test_report\.xml$')
          python3 scripts/test_report_upload_script.py "${report_filename}"
        env:
          LINODE_CLI_OBJ_ACCESS_KEY: ${{ secrets.LINODE_CLI_OBJ_ACCESS_KEY }}
          LINODE_CLI_OBJ_SECRET_KEY: ${{ secrets.LINODE_CLI_OBJ_SECRET_KEY }}

      - name: Test Execution Status Handler
        run: |
          if [[ "$EXIT_STATUS" != 0 ]]; then
            echo "Test execution contains failure(s)"
            exit $EXIT_STATUS 
          else
            echo "Tests passed!"
          fi