on:
  pull_request:
  workflow_dispatch:
    inputs:
      module:
        description: 'The module to be tested.'
        required: true
        default: 'linode/...'
      sha:
        description: 'The hash value of the commit.'
        required: true
      pull_request_number:
        description: 'The number of the PR.'
        required: false

name: Integration tests on PR

jobs:
  # Maintainer has commented /acctest on a pull request
  integration-fork:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.19'
      - run: go version
      - uses: actions-ecosystem/action-regex-match@v2
        id: validate-pkg
        with:
          text: ${{ inputs.module }}
          regex: '[^a-z0-9.\/]'
          flags: gi

      # Check out merge commit
      - name: Checkout PR
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.sha }}

      - run: make PKG_NAME="${{ inputs.module }}" testacc
        if: ${{ steps.validate-pkg.outputs.match == '' }}
        env:
          LINODE_TOKEN: ${{ secrets.DX_LINODE_TOKEN }}

      - uses: actions/github-script@v6
        id: update-check-run
        if: ${{ always() }}
        env:
          number: ${{ inputs.pull_request_number }}
          job: ${{ github.job }}
          conclusion: ${{ job.status }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: pull } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: process.env.number
            });
            const ref = pull.head.sha;
            const { data: checks } = await github.rest.checks.listForRef({
              ...context.repo,
              ref
            });
            const check = checks.check_runs.filter(c => c.name === process.env.job);
            const { data: result } = await github.rest.checks.update({
              ...context.repo,
              check_run_id: check[0].id,
              status: 'completed',
              conclusion: process.env.conclusion
            });
            return result;
