name: Nightly Smoke Tests

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      sha:
        description: 'Commit SHA to test'
        required: false
        default: ''
        type: string

jobs:
  smoke_tests:
    if: github.repository == 'linode/terraform-provider-linode' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: 'recursive'
          ref: ${{ github.event.inputs.sha || github.ref }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.x'

      - name: Install Dependencies
        run: |
          make deps

      - name: Run smoke tests
        id: smoke_tests
        run: |
          make test-smoke
        env:
          LINODE_TOKEN: ${{ secrets.DX_LINODE_TOKEN }}

      - name: Notify Slack
        if: always() && github.repository == 'linode/terraform-provider-linode'
        uses: slackapi/slack-github-action@v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            blocks:
              - type: section
                text:
                  type: mrkdwn
                  text: ":rocket: *${{ github.workflow }} Completed in: ${{ github.repository }}* :white_check_mark:"
              - type: divider
              - type: section
                fields:
                  - type: mrkdwn
                    text: "*Build Result:*\n${{ steps.smoke_tests.outcome == 'success' && ':large_green_circle: Build Passed' || ':red_circle: Build Failed' }}"
                  - type: mrkdwn
                    text: "*Branch:*\n`${{ github.ref_name }}`"
              - type: section
                fields:
                  - type: mrkdwn
                    text: "*Commit Hash:*\n<${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}>"
                  - type: mrkdwn
                    text: "*Run URL:*\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View Run Details>"
              - type: divider
              - type: context
                elements:
                  - type: mrkdwn
                    text: "Triggered by: :bust_in_silhouette: `${{ github.actor }}`"
      
