name: CI for Pull Requests
on: pull_request
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - run: go version
      - run: make deps
      - name: Check docs
        run: make docs-check
      - name: Lint
        run: make lint
      - name: Unit tests
        run: make test-unit
      - name: Vet
        run: make vet
      - name: Tidy
        run: go mod tidy
      - name: Fail if changes
        run: git diff-index --exit-code HEAD

  dependency-review:
    permissions:
        contents: read
        pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v6
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
        with:
          comment-summary-in-pr: on-failure

  gosec_scan:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: -exclude=G104 ./...
