name: Notify Dev DX Channel on Release
on:
  release:
    types: [published]
  workflow_dispatch: null

jobs:
  notify:
    if: github.repository == 'linode/terraform-provider-linode'
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack - Main Message
        id: main_message
        uses: slackapi/slack-github-action@v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.DEV_DX_SLACK_CHANNEL_ID }}
            blocks:
              - type: section
                text:
                  type: mrkdwn
                  text: "*New Release Published: _terraform-provider-linode_ <${{ github.event.release.html_url }}|${{ github.event.release.tag_name }}> is now live!* :tada:"
