name: Unit Tests
on:
  workflow_dispatch: null
  push:

jobs:
  unit_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - run: go version

      - name: Install deps
        run: make deps

      - name: Run unit tests
        run: make test-unit
