name: Unit Tests
on:
  workflow_dispatch: null
  push:
  pull_request:
jobs:
  unit_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Checkout code
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - run: go version

      - name: Run unit tests
        run: make unittest